<div class="container">
	<div class="row">
		<div class="col-md-4"> 
			<h1>My Profile</h1>

			<%= simple_form_for @profile, html: {class: 'form-horizontal'} do |f| %>

			<%= f.input :first_name %>
			<%= f.input :last_name %>
			<!-- alternate email? -->
			<%= f.input :bio, label: "About Me"%>
			<%= f.input :birth_date, placeholder: "MM/DD/YYYY", as: :date_picker, label: "Birth Date" %>
			
			<%= f.input :street, label: "Street address"%>
			<%= f.input :city %>
			<%= f.input :state  %>
			<%= f.input :zip %>
			<%= f.input :photo, as: :file, label: "Profile photo" %>
			<%= f.hidden_field :user_id, value: params[:user_id] %> 
			<%= f.submit "Submit"%>

			<% end %>
			<br><br>
		</div>
	</div>
</div>
<p><%= javascript_include_tag "application" %> </p>
