<div class="container">
	<div class="row">
		<div class="col-md-8"> 
			
			<h1>Let's get started building a new Memory! </h1>

			<%= simple_form_for @memory, html: {class: 'form-horizontal'} do |f| %>
				<%= f.input :name, label: "Memory for: " %>
				<div class='row datetimerange'>
					<%= f.input :trip_date, placeholder: "Start", as: :date_picker, wrapper: :ranged_datetime, label: "Trip Start Date" %>
						<%= f.input :trip_date_end, placeholder: "End", as: :date_picker, wrapper: :ranged_datetime, label: "Trip End Date" %>
				</div>
				<%= f.hidden_field :user_id, value: current_user.id %>
				<%= f.hidden_field :winery_id, value: @winery.id %>
				<%= f.submit "Create a Memory"%>

			<% end %>
			<br><br>
		</div>
	</div>
</div>
<p><%= javascript_include_tag "application" %> </p>
