<p><%= javascript_include_tag "application" %> </p>
<h1 style="color:#000000;"><%= @winery.name %></h1>
<p>
	<table class="table table-striped table-hover">
		
			<tr class="small">
						<td style="width:5%"><%= link_to image_tag('wine-glass-icon.jpg', size: '30x59'), new_memory_detail_path(winery:params[:id]) %>
						</td><td style="width:20%"><ul><%= image_tag(@winery.photo, size: "100x50", :class => 'img-rounded img-responsive') unless @winery.photo.nil? %>
						 </td>
						 <td style="width:30%"><%= @winery.street %><br>
						 	<%= @winery.city + ", " + @winery.state + " " + @winery.zip.to_s %><br>
						 	</ul>
						</td>
						<td>
							<% if @existing_review %>
								<%= render 'wineries/has_review' %>
							<% else %>
								<%= render 'wineries/no_review' %>
							<% end %>
						</td>
			</tr>
	</table>
</p>

<p>

	<table class="table table-striped table-hover">
		
			<tr class="small">
				<td style="width:50%"><ul>
					<b>About the Winery: </b><%= @winery.bio %><br><br>
					<b>Contact Info: </b>
					<% if @winery.phone == nil %>
						No phone number
					<% else %>
						<%= @winery.phone[0...3] +"."+ @winery.phone[3...6]+ "."+ @winery.phone[6...10] %>
					<% end %>
					<br>
					<% if @winery.email != nil %>
						<%= "              " + @winery.email %><br><%= @winery.website %>
					<% end %>
					<br><br>
					<b>Tasting Room Hours: </b>
					<% if (@winery.open || @winery.close) == nil %>
						Call for Hours
					<% else %>
						<%= @winery.open.strftime("%I:%M %p") + " to " + @winery.close.strftime("%I:%M %p") %>
					<% end %>
					<br>
					<% if @winery.appointment == true %>
						<%= "     By Appointment Only" %><br>
					<% end %>
					<br>
					<b>Tasting Room Fee: </b><%= "$" + number_with_precision(@winery.fee, :precision => 2) %><br><br>
					<b>Good to Know: </b><br>
					<%= "     Pets Allowed: " + @winery.pets.to_s %><br>
					<%= "     Picnic Area: " + @winery.picnic.to_s %><br>
				</td>
				<td>
					
					<%= render "wineries/friends_reviews" %>
				</td>
			</tr>	
	</table>
</p>




    