<!DOCTYPE html>
<html>
<head>
  <title>WineFinder</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js' %>
  

  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container-fluid">
		<p>
      <% if user_signed_in? %>
        <%= render 'layouts/main_nav' %>
      <% else %>
      	<%= render 'layouts/guest_nav' %>
      <% end %>
		</p>
		<%= yield %>
	</div>
</body>
</html>
