<!DOCTYPE html>
<html>
<head>
  <title>WineFinder</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js' %>
  

  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container-fluid">
    <% if current_user %>
      Signed in as <strong><%= current_user.name %></strong>
      <%= link_to "Sign out", signout_path, id: "sign_out" %>
    <% else %>
      <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %> | <%= link_to "Sign in with this App", "/auth/facebook", id: "sign_in" %>
    <% end %>
  </div>
	<%= yield %>

</body>
</html>
